<!-- src/Resources/app/administration/src/module/contact-person/page/contact-person-create/contact-person-create.html.twig -->
<sw-page class="contact-person-create">
    <template #smart-bar-header>
        <h2>
            {{ $t('contact-person.detail.textCreateNewContactPerson') }}
        </h2>
    </template>

    <template #smart-bar-actions>
        <sw-button-group>
            <sw-button @click="onCancel">
                {{ $t('contact-person.detail.buttonCancel') }}
            </sw-button>

            <sw-button
                variant="primary"
                :isLoading="isLoading"
                @click="onClickSave">
                {{ $t('contact-person.detail.buttonCreate') }}
            </sw-button>
        </sw-button-group>
    </template>

    <template #content>
        <sw-card-view>
            <sw-card
                :title="$t('contact-person.detail.cardTitleContactPersonInfo')"
                :isLoading="isLoading">

                <template v-if="contactPerson">
                    <sw-container columns="repeat(auto-fit, minmax(250px, 1fr))" gap="0px 30px">
                        <sw-text-field
                            v-model:value="contactPerson.firstName"
                            :label="$t('contact-person.detail.labelFirstName')"
                            :placeholder="$t('contact-person.detail.placeholderFirstName')"
                            required>
                        </sw-text-field>

                        <sw-text-field
                            v-model:value="contactPerson.lastName"
                            :label="$t('contact-person.detail.labelLastName')"
                            :placeholder="$t('contact-person.detail.placeholderLastName')"
                            required>
                        </sw-text-field>

                        <sw-text-field
                            v-model:value="contactPerson.email"
                            :label="$t('contact-person.detail.labelEmail')"
                            :placeholder="$t('contact-person.detail.placeholderEmail')"
                            required>
                        </sw-text-field>

                        <sw-text-field
                            v-model:value="contactPerson.phone"
                            :label="$t('contact-person.detail.labelPhone')"
                            :placeholder="$t('contact-person.detail.placeholderPhone')">
                        </sw-text-field>

                        <sw-switch-field
                            v-model:value="contactPerson.active"
                            :label="$t('contact-person.detail.labelActive')">
                        </sw-switch-field>
                    </sw-container>
                </template>

                <sw-loader v-else></sw-loader>
            </sw-card>
        </sw-card-view>
    </template>

    <template #sidebar>
        <sw-sidebar-item
            icon="default-arrow-360-left"
            :title="$t('contact-person.detail.backToList')"
            @click="onCancel">
        </sw-sidebar-item>
    </template>
</sw-page>